openface2/LandmarkDetector/model/patch_experts/cen_patches_*.dat

/x64/Release/
/x64/Debug/
openface2/LandmarkDetector/Release/
openface2/LandmarkDetector/x64/
openface2/LandmarkDetector/Debug/
openface2/GazeAnalyser/Debug/
openface2/FaceAnalyser/x64/
openface2/GazeAnalyser/x64/
openface2/FaceAnalyser/Debug/
*.ipch
openface2/FaceAnalyser/Release/
OpenFace.sdf
OpenFace.VC.opendb
openface2/GazeAnalyser/Release/
/Release/
/Debug/
*.vspx
openface2/Utilities/x64/Release/
openface2/Utilities/x64/
openface2/CppInerop/x64/
openface2/CppInerop/Release/
openface2/Utilities/Release/
*.suo
.vs/OpenFace/v15/
/build/
openface2/Utilities/Debug/
openface2/CppInerop/Debug/
*.user

openface2/LandmarkDetector/model/patch_experts/*_of.dat

# IDE-generated folders
.idea

.DS_Store
